@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Ysabeau+Infant:wght@300&display=swap");

.top-line {
  
  width: 1400px;
  height: 72px;
  margin: auto;
  display: flex;
}

.container-1{
  display: flex;
  justify-content: space-between;
  width: 90%;
  align-items: center;
  margin: auto;
}

.logo-side {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 4rem;
}

.courses {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  color: #000;
  text-align: center;
  font-family: Raleway;
  font-size: 1rem;
  font-style: normal;
  /* font-weight: 500; */
  line-height: normal;
}

.other-side {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 4rem;
  color: #000;
  text-align: center;
  font-family: Raleway;
  font-size: 1rem;
  font-style: normal;
  line-height: normal;
}

.btn {
  display: flex;
  height: 2.5rem;
  padding: 0.625rem 2.625rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 3.25rem;
  font-weight: 800;
  background: linear-gradient(224deg, #0048ff 0%, #0096ff 100%);
  cursor: pointer;
}

.btn p:first-of-type{
    color: #fff;
}
